.cwpos {
    background: #ececec;
}

.cwpos .card {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFF;
}

.cwpos .multi-in-one {
    margin-bottom: 10px
}

.cwpos .btn-group-toggle .btn {
    background: #000;
    color: #aaa;
    border-color: #000
}

.cwpos .btn-group-toggle .btn.active, .cwpos .btn.btn-success {
    background: #007c7c;
    border-color: #007c7c
}

.cwpos .btn:hover, .cwpos .btn.active:hover {
    background: #124e4e;
    border-color: #124e4e;
    color: #FFF;
}

@media (min-width: 1000px) {
    .cwpos .card-3 .card {
        min-height: 550px;
    }
}

#responseModalLabel {
    text-transform: capitalize;
}

#foreignCountry {
    display: none;
}


.citizenship {
    display: none;
}

#forms-list tbody tr:hover {
    background-color: rgba(18, 78, 78, 0.36);
}

#forms-list tbody tr {
    cursor: pointer;
}
.row-fields {
    display: none;
}

.modal-body .row-fields{
    overflow-y: auto;
    height: 300px;
}

.signature_text{
    padding: 20px 27px;
}

.over_hidden{
    visibility: hidden;
}

.right-class{
    float: right;
}

.secA_lnk,.secA_lnk:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.searchBox {
    display: flex;
    float: right;
}

select#search_type {
    margin-right: 12px;
}

input#search_val {
    margin-left: 12px;
}

span.error_class {
    color: red;
}

.error_img{
    margin-right: 15px;
    padding:7px;
    background: url('../img/error-triangle.png') center no-repeat;
}

.show_error,.show_error1 {
    margin: 0 auto;
    width: 61%;
}

.error_red_class{
    outline:1px solid red;
    color: red;
}

.sectionB_card {
    min-height: 620px;
}